<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <connectionStrings>
      <!--<add name="MySQL" connectionString="SERVER=localhost;DATABASE=ige;UID=igeuser;PASSWORD=password" providerName="MySql.Data.MySqlClient" />-->
      <add name="MySQL" connectionString="server=0c197ff0-dbc5-4f2e-8d70-a6f3000ae158.mysql.sequelizer.com;database=db0c197ff0dbc54f2e8d70a6f3000ae158;uid=uqdtitqoyonhzsuy;pwd=cBuKtY3scmjwWCiWPEHyvYjTKbbcakC6skNHCkj8UYRhKqTCzSJyiyKmrHarWYsZ" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGoogleMaps" />
                <binding name="BasicHttpBinding_IGooglePlaces" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/GoogleMaps/GoogleMaps/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGoogleMaps"
                contract="GoogleMapsService.IGoogleMaps" name="BasicHttpBinding_IGoogleMaps" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/GooglePlaces/GooglePlaces/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGooglePlaces"
                contract="GooglePlacesService.IGooglePlaces" name="BasicHttpBinding_IGooglePlaces" />
        </client>
    </system.serviceModel>
</configuration>
