<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="IGE" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;Connect Timeout=30" />-->
    <add name="IGE" connectionString="server=0c197ff0-dbc5-4f2e-8d70-a6f3000ae158.mysql.sequelizer.com;database=db0c197ff0dbc54f2e8d70a6f3000ae158;uid=uqdtitqoyonhzsuy;pwd=cBuKtY3scmjwWCiWPEHyvYjTKbbcakC6skNHCkj8UYRhKqTCzSJyiyKmrHarWYsZ"/>
  </connectionStrings>
</configuration>