<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="IGE" connectionString="server=0c197ff0-dbc5-4f2e-8d70-a6f3000ae158.mysql.sequelizer.com;database=db0c197ff0dbc54f2e8d70a6f3000ae158;uid=uqdtitqoyonhzsuy;pwd=cBuKtY3scmjwWCiWPEHyvYjTKbbcakC6skNHCkj8UYRhKqTCzSJyiyKmrHarWYsZ"/>
  </connectionStrings>
</configuration>
